---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import BasicCard from "../components/BasicCard.astro";
import BasicHeader from "../components/BasicHeader.astro";
import allExperience from "../json/experience.json";
import ExperienceCard from "../components/ExperienceCard.astro";

import type { PostBasicProps } from "../interfaces/Posts";
import {getCollectionByDate} from '../utils/getCollectionByDate';

const allPosts = await getCollectionByDate("posts", 2);
const allProjects = await getCollectionByDate("projects", 3);
---

<BaseLayout pageTitle="Inicio">
  <main class="flex flex-col gap-14">
    <section class="py-24 md:py-32 lg:py-44 flex flex-col gap-6 xl:max-w-[60%]">
      <h1 class="text-3xl lg:text-4xl font-semibold">
        Hola, soy Vicente!
      </h1>
      <p class="text-sm md:text-base font-base text-zinc-200 leading-relaxed">
        Soy <span class="text-lime-400">Analista programador</span> y <span
          class="text-lime-400">Desarrollador web full-stack</span
        > con más de 3 años de experiencia desarrollando soluciones full-stack
        <span class="italic">(frontend + backend + infraestructura).</span> Actualmente
        mi stack de preferencia es NextJS + TypeScript + Prisma + AWS, sin embargo,
        cuento con otras habilidades y tecnologías que encontrarás en mis proyectos y
        posts.
      </p>
      <ul class="flex gap-8 items-center">
        <li>
          <Link
            href="https://www.linkedin.com/in/vicentejorquera"
            type="external"
            text=""
            icon={true}
          >
            <LinkedinIcon title='Sígueme y conécta conmigo en LinkedIn' classes="w-7 md:w-9 fill-zinc-200 hover:fill-lime-200 transition-all duration-300 ease-in-out" />
          </Link>
        </li>
        <li>
          <Link
            href="https://github.com/VicenteJ20"
            type="external"
            text=""
            icon={true}
          >
            <GithubIcon title='Sígueme en Github' classes="w-7 md:w-9 fill-zinc-200 hover:fill-lime-200 transition-all duration-300 ease-in-out" />
          </Link>
        </li>
        <li>
          <Link
            href="https://x.com/jvicente_20"
            type="external"
            text=""
            icon={true}
          >
            <TwitterIcon title='Sígueme en Twitter' classes="w-7 md:w-9 fill-zinc-200 hover:fill-lime-200 transition-all duration-300 ease-in-out" />
          </Link>
        </li>
      </ul>
    </section>
    <section class="flex flex-col gap-y-4">
      <BasicHeader
        title="últimos posts"
        titleBtn="Ver todo"
        refBtn="/blog"
      />
      <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          allPosts.map((post: PostBasicProps) => (
            <BasicCard
              title={post.data.title}
              description={post.data.description}
              id={post.id}
              date={post.data.pubDate}
              slug={post.data.slug}
              type="blog"
              minimal
            />
          ))
        }
      </section>
    </section>
    <section class="flex flex-col gap-y-4">
      <BasicHeader
        title="últimos proyectos"
        titleBtn="Ver todo"
        refBtn="/proyectos"
      />
      <section class="flex flex-col gap-4">
        {
          allProjects.map((project: PostBasicProps) => (
            <BasicCard
              title={project.data.title}
              description={project.data.description}
              id={project.id}
              date={project.data.pubDate}
              slug={project.data.slug}
              type="proyectos"
              minimal
            />
          ))
        }
      </section>
    </section>
    <section class="flex flex-col gap-y-4">
      <BasicHeader title="Experiencia laboral reciente" />
      <section class="flex flex-col gap-4">
        {
          allExperience.map((experience) => (
            <ExperienceCard item={experience} key={experience.id} />
          ))
        }
      </section>
    </section>
  </main>
</BaseLayout>
