---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import SocialLinks from "../components/SocialLinks.astro";
import ExternalProjectLink from "../components/ExternalProjectLink.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} layout="project">
  <header class="py-6 flex flex-col gap-8">
    <div class="flex flex-row gap-2 items-center text-lg">
      <h3 class="capitalize text-lime-300">{frontmatter.type}</h3>
      <div class="w-2 h-1 bg-zinc-300 rounded-lg"></div>
      <h3 class="text-zinc-300">
        Publicado el: {frontmatter.pubDate.toLocaleDateString("es-CL")}
      </h3>
    </div>
    <div class="flex flex-col gap-1.5">
      <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold">
        {frontmatter.title} :
      </h2>
      <h1 class="text-2xl md:text-3xl lg:text-4xl font-semibold">
        {frontmatter.fullTitle}
      </h1>
    </div>
  </header>
  <figure class="flex flex-col gap-4">
    <Image
      alt={frontmatter.image.alt}
      src={frontmatter.image.url}
      width={1200}
      height={800}
      class="w-full max-h-80 md:max-h-[35rem] lg:max-h-[42rem] object-cover object-center rounded-xl"
      loading="eager"
    />
    <figcaption class="italic">Fuente: {frontmatter.image.source}</figcaption>
  </figure>
  <section class="py-6">
    <div class="flex flex-row gap-3 items-center justify-between">
      <div class="flex flex-row gap-3 items-center">
        {
          frontmatter.author.image && (
            <Image
              alt={frontmatter.author.name}
              src={frontmatter.author.image}
              class="w-8 h-8 rounded-full border-2 border-lime-500"
              width={100}
              height={100}
              loading="eager"
            />
          )
        }
        <p>{frontmatter.author.name}</p>
      </div>
      <SocialLinks type={frontmatter.type} slug={frontmatter.slug} />
    </div>
  </section>
  <section class="pb-6 pt-2">
    <p class="break-words">{frontmatter.description}</p>
  </section>
  <section class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
    <ExternalProjectLink url={frontmatter.links.demo} type="web" />
    <ExternalProjectLink url={frontmatter.links.repo} type="repo" />
  </section>
  <section class="py-6 inset-3.5" id="PostProjectSlot">
    <slot />
  </section>
</BaseLayout>

<script>
  const links = document.querySelectorAll("#PostProjectSlot a");
  links.forEach((link) => {
    link.setAttribute("target", "_blank");
    link.setAttribute("rel", "noopener noreferrer");
  });
</script>
